body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp9078348.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}

h1{
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 40px;
}

.wrapper{
    background-color: transparent;
    margin-top: 25vh;
    box-sizing: border-box;
    width: 30vw;
    height: 50vh;
    text-align: center;
    margin-left: 35vw;
}

.form {
    background-color: transparent;
    margin-right: 10px;
}

.text{
    width: 73%;
    padding: 13px;
    margin: 20px 0px;
    border: #222 solid 1px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 14px;
}

.password{
    width: 73%;
    padding: 13px;
    border: #222 solid 1px;
    border-radius:30px;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 14px;
}

.text::placeholder{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}

.password::placeholder{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}



.button{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border: #222 solid 1px;
    background-color: transparent;
    border-radius: 20px;
    color: #000;
    font-size: 13px;
}


label{
    font-size: 14px;
    color: black;
}
