body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/originals/ae/0b/2c/ae0b2c861222860a9875587f8677c365.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h1{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.wrapper{
    background-color: transparent;
    margin-top: 22.5vh;
    box-sizing: border-box;
    width: 30vw;
    height: 55vh;
    text-align: center;
    margin-left: 35vw;
}

.form {
    background-color: transparent;
    margin-right: 10px;
}

.text{
    width: 100%;
    padding: 13px;
    margin: 20px 0px;
    border: #aaa solid 1px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    color: white;
}
.text::placeholder{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
}

.password::placeholder{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
}

.password{
    width: 100%;
    padding: 13px;
    border: #aaa solid 1px;
    border-radius: 20px;
    outline: none;
        background-color: transparent;
    color: white;
}

.button{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border: #aaa solid 1px;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}


label{
    font-size: 14px;
    color: white;
}